<p style="color: green"><%= notice %></p>

  <div class=" d-flex  bd-highlight ">

    <div class="p-2 flex-fill  bd-highlight"> <h1>Posts</h1> </div>

    <div class="p-2 flex-fill   bd-highlight">

         <!---- Button trigger modal -->
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            New Post
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" >
                <div class="modal-header">
                  <h5 class="modal-title " id="exampleModalLabel">Add New Post</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= render("form", post: @post) %>
                </div>
        
              </div>
            </div>
          </div>
         <!-------------------------------------------------------------------------->
    </div>

  </div>
    
    <!--  show action ------------------------------->
    <% @posts.each do |post| %>
      <div class="card w-75 my-3">
        <div class="card-body">
          <%= render(post) %>
          <%= link_to("Show this post", post, class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>










